body{
    background-color: rgb(38, 61, 2);
    font-family : system-ui, serif;
}
#content{
   position: absolute;
   top:50%;
   left:50%;
   transform:translate(-50%,-50%);
   
}
#content h1 {
    text-align:center;
    font-size:100px;
    margin:20px;
    color:white;
}
.form,
.greetings{
 display:none;   
}
.showing{
    display:block;
}
.js-greetings{
    color:white;
    font-size: 40px;
    text-align:center;
}

@keyframes fadeIn{
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.bgImage{
    position:absolute;
    top:0;
    left:0;
    width:100vw;
    height:100vh;
    z-index: -1;
    animation: fadeIn 0.5s linear;
}

.js-form > input[type=text]{
    height:30px;
    width:250px;
    border-radius: 4px;
    font-size: 20px;
    border-color:gray;
}
.js-toDoForm >input[type=text]{
    height:30px;
    width:500px;
    border-radius: 4px;
    font-size: 20px;
    margin:10px;
    
}

ul{
    list-style-type: none;
    padding:0;
    margin:0;
}
li{
    font-size:20px;
    color:white;
}
.weather{
    position:absolute;
    font-style:italic;
    font-size:18px;
    top:25px;
    right:25px;
}
.delBtn{
    margin-left:10px;
    margin-right:10px;
    cursor:pointer;
}